# Environments & Secrets
.env
.env.*
**/letsencrypt/acme.json
**/config/*.env
**/config/users.yml
**/.env

# Authelia Data
**/authelia/config/db.sqlite3
**/authelia/config/emails.txt

# Application Data (Persistent Volumes)
**/data/
**/ollama_data/
**/portainer_data/

# Infrastructure Data
infra/diun/data/
infra/authelia/config/db.sqlite3

# Certificates
**/*.key
**/*.crt
**/*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# OS Metadata
.DS_Store
Thumbs.db
apps/homepage/config/logs/

