# Environments & Secrets
.env
.env.*
**/.env
**/config/*.env
**/config/users.yml

# SSL / ACME Certificates & Keys
**/letsencrypt/acme.json
**/*.key
**/*.crt
**/*.pem

# Authelia Databases & Mail Logs
infra/authelia/config/db.sqlite3
infra/authelia/config/emails.txt

# Infrastructure Persistent Volumes & Logs
**/portainer_data/
infra/diun/data/
homepage/config/logs/

# OS & Editor Metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
