# Environments & Secrets
.env
.env.*
secrets.txt
backup.zip

# SSL / ACME Certificates & Keys
config/letsencrypt/acme.json
**/*.key
**/*.crt
**/*.pem

# Authelia Databases & Mail Logs
config/authelia/db.sqlite3
config/authelia/emails.txt

# Diun Databases
config/diun/diun.db

# Homepage Logs
config/homepage/logs/

# OS & Editor Metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
